$txt-primary:#000;
$bg: #fff;
$bg-darker: rgb(208, 208, 210);
$bg-light-grey: rgb(242, 242, 247);
$secondary:#1e1e1e;
$txt-light:#fff;
$txt-grey: rgb(164, 164, 167);
$border-grey:rgb(151, 151, 151);
$purple: rgb(111, 12, 93);
